# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JavaEEProjects\mybatis-demo05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
